.Line-highlight {
  background-color: var(--hover);
}

.Error-Line-highlight{
  background-color: var(--errorLineHighlight);
}

.Container {
  width: 100%;
  height: 100%;
}

.marker-node .breakpoint-node {
  display: inline-block;
}

.marker-node {
  color: var(--dark);
}

.breakpoint-node{
  color: var(--red);
}

.breakpoint-node:hover {
  cursor: pointer;
  color: var(--redHover);
}
