.Page {
  width: 100vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
}

.Content {
  border-width: 2px;
  border-color: var(--dark);
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  overflow: auto;
}

a {
  color: #006fe6;
}

li,
p,
dl {
  font-size: 0.9em;
}

.Title {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 1.1em;
  font-weight: 600;
}

.heading_title {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 1.4em;
  font-weight: 600;
}

.SubTitle {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 1em;
  font-weight: 600;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Content {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0;
    padding: 8px;
    box-shadow: blue 0px 0px 0px 2px inset
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Content {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0;
    padding: 12px;
    box-shadow: blue 0px 0px 0px 2px inset
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Content {
    margin-left: 2vw;
    margin-right: calc(2vw + 10px);
    margin-top: 2vh;
    padding: 12px;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
      rgb(31, 193, 27) 10px -10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Content {
    margin-left: 2vw;
    margin-right: calc(2vw + 20px);
    margin-top: 4vh;
    padding: 16px;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
      rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
      rgb(255, 217, 19) 20px -20px;
  }
}

/* Large devices (laptops/desktops, 1200 and up) */
@media only screen and (min-width: 1200px) {
  .Content {
    margin-left: 2vw;
    margin-right: calc(2vw + 30px);
    margin-top: 6vh;
    padding: 24px;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
      rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
      rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
      rgb(255, 156, 85) 30px -30px;
  }
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
  .Content {
    margin-left: 2vw;
    margin-right: calc(2vw + 40px);
    margin-top: 6vh;
    padding: 32px;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
      rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
      rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
      rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
      rgb(255, 85, 85) 40px -40px;
  }
} 
