/*.Outer-grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 60px;
  padding-bottom: 5px;
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.Content-body {
  grid-row: 2;
  display: grid;
  /* So the left- and right-body doesn't collide 
  grid-template-columns: repeat(auto-fit, minmax(260px, 40%)) 60%;
  background-color: var(--background);
}

.Left-body {
  display: grid;
  grid-template-rows: 50px 60%;
  row-gap: 10px;
  margin: 5px;
  background-color: var(--background);
}*/

.Page {
  width: 100vw;
  height: 98vh;
  display: flex;
  flex-direction: column;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.Container {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 2vh;

  height: 100%;

  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  align-items: stretch;
}

.Control-panel {
  width: 40%;
  height: 50px;
}

.Code-box {
  position: relative;
  width: 40%;
  flex: 1;
}

.Output-box {  
  border-radius: 4px;
  height: 30%;
  width: 40%;
}

.Visual-box {
  background-color: white;
  position: relative;
  
  min-height: 90%;
  width: calc(60% - 10px);
  overflow: hidden;
  flex: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Content-body {
    margin: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Content-body {
    margin: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Content-body {
    margin: 4px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Content-body {
    margin: 8px;
  }
}

/* Large devices (laptops/desktops, 1200 and up) */
@media only screen and (min-width: 1200px) {
  .Content-body {
    margin: 12px;
  }
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
  .Content-body {
    margin: 16px;
  }
}