.Line-highlight {
  background-color: var(--hover);
}

.Container {
  flex: 1 1 auto;
  margin-top: 0;
  height: 100%;
  position: relative;
}

.marker-node .breakpoint-node{
  display: inline-block;
}

.marker-node{
  color: var(--dark);
}

.breakpoint-node{
  color: var(--red);
}

.breakpoint-node:hover{
  cursor: pointer;
  color: rgb(255, 139, 139);
}