.Container{
    color: var(--dark) !important;
    background-color: var(--components) !important;
    border-right: 2px solid !important;
    border-top: 0px solid !important;
    border-bottom: 0px solid !important;
    border-left: 0px solid !important;
    margin-left: 0px !important;
}

.Container:hover{
    background-color: var(--hover) !important;
    z-index: 0 !important;
}