.Header {
  background-color: var(--background);
  display: flex;

  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.Home-logo {
  margin: 12px;
  color: var(--dark);

  text-decoration: none;
  font-size: 1.5em;
  font-weight: bolder;
}

.Nav-menu {
  margin-right: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: row;
}

.Nav-item {
  margin-left: 5px;
  margin-right: 5px;
  color: var(--dark);

  text-decoration: none;
  font-weight: 600;
}

.Nav-item:hover {
  color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Home-logo {
    margin: 0;
  }

  .Nav-menu {
    margin-top: 4px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Home-logo {
    margin: 0;
  }

  .Nav-menu {
    margin-top: 4px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Home-logo {
    margin: 8px;
  }

  .Nav-menu {
    margin-top: 12px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Home-logo {
    margin: 10px;
  }

  .Nav-menu {
    margin-top: 14px;
  }
}

/* Large devices (laptops/desktops, 1200 and up) */
@media only screen and (min-width: 1200px) {
  .Home-logo {
    margin: 12px;
  }

  .Nav-menu {
    margin-top: 16px;
  }
}
