.Header {
  background-color: var(--background);
  display: flex;

  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.Home-logo {
  margin: 16px;
  color: var(--header);

  text-decoration: none;
  font-size: 1.5em;
  font-weight: bolder;
}

.Home-logo:hover {
  color: var(--navItemHover);
}

.Right{
  margin-right: 16px;
  margin-top: 8px;
  display: flex;
  flex-basis: 20%;
  justify-content: flex-end;
  align-items: center;
}

.Nav-menu {
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Toggle{
  opacity: 0;
}

.Toggle-label{
  width: 48px;
  height: 24px;
  margin-top: 5px;
  margin-right: 12px;
  background-color: var(--background);
  border: 2px solid var(--header);
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  transform: scale(1.4);
}

.Toggle-label:hover{
  background-color: var(--hover);
  transition: .4s;
  cursor: pointer;
}

.Toggle-ball{
  width: 18px;
  height: 18px;
  background-color: var(--header);
  position: absolute;
  /* box-shadow: var(--shadow); */
  top: 1px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.3s ease-out;
}

.Toggle:checked + .Toggle-label .Toggle-ball{
  transform: translateX(22px);
}

.Sun{
  color: var(--header);
}

.Moon{
  color: var(--header);
}


.Nav-button{
  border-radius: 100%;
  margin-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;  
}

.Nav-item:focus{
  border: none;
  border-radius: 100%;
  box-shadow: 0 0 0 3px var(--outline);
  outline: none !important;
}

.Nav-button:last-child{
  margin-right: 0px;
}

.Nav-button:hover {
  background-color: var(--hover);
  cursor: pointer;
  transition: .4s;
}

.Nav-item {
  margin-left: 5px;
  margin-right: 5px;
  color: var(--header);
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.Nav-item:hover{
  color: var(--header);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Home-logo {
    margin: 0;
  }

  .Nav-menu {
    margin-top: 4px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Home-logo {
    margin: 0;
  }

  .Nav-menu {
    margin-top: 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Home-logo {
    margin: 8px;
  }

  .Nav-menu {
    margin-top: 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Home-logo {
    margin: 10px;
  }

  .Nav-menu {
    margin-top: 0px;
  }
}

/* Large devices (laptops/desktops, 1200 and up) */
@media only screen and (min-width: 1200px) {
  .Home-logo {
    margin: 12px;
  }

  .Nav-menu {
    margin-top: 0px;
  }
}