:root {
  --background: gray;
  --components: white;
  --accent: black;
}

html,
body {
  height: 100%;
  margin: 0;
}

.App {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App-header, #App-body{
  background-color: var(--background);
  display: flex;
}
.App-header {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.Header-style {
  color: var(--accent);
}

.Header-style {
  padding: 5px;
}

#App-body {
  flex: 2;
}

#Left-body {
  margin: 10px;
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#Right-body {
  margin: 10px;
  flex-basis: 100%;
  display: flex;
}

.Control-button, .Code-box, .Visual-box, #output, .Control-panel{
  background-color: var(--components);
}

.Control-panel {
  margin: 4px;
  flex-basis: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 4px;
}

.Control-panel-left, .Control-panel-right {
  display: flex;
  flex-grow: 1;
}

.Control-panel-right{
  justify-content: end;
}

.Control-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 66px
}

.Code-wrapper {
  padding: 5px;
  flex-basis: 45%;
  display: flex;
}

.Form-box {
  display: flex;
  flex-direction: column;
  font-family: "Courier New";
}

#output {
  padding: 4px;
  flex-basis: 45%;
  border-radius: 4px;
}

.Code-box{
  flex-basis: 100%;
  border-radius: 4px;
}

.Visual-box {
  padding: 50px;
  flex-basis: 100%;
  border-radius: 4px;
}
